@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');




/* RESETS HERE */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  display: block;
}

ul{
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #000000;
}


::-webkit-scrollbar-thumb {
  background: #ff0000;
}


::-webkit-scrollbar-thumb:hover {
  background: #ff4400e7; 
}

:root{
  --FONT_FAMILY_POPPINS: 'Poppins', sans-serif;
  --FONT_FAMILY_PROTEST_RIOT: 'Protest Riot', sans-serif;
  --FONT_FAMILY_KALAM: 'Kalam', cursive;
  --FONT_FAMILY_COOKIE: 'Cookie', cursive;
  --FONT_FAMILY_PACIFICO: 'Pacifico', cursive;
  --FONT_FAMILY_CAVEAT: 'Caveat', cursive;
  --FONT_FAMILY_LILITA_ONE: 'Lilita One', sans-serif;
  --FONT_FAMILY_KAUSHAN_SCRIPT: 'Kaushan Script', cursive;
  --FONT_FAMILY_LUCKIEST_GUY: 'Luckiest Guy', cursive;
}

body{
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  color: white;
  font-family: var(--FONT_FAMILY_POPPINS);
  padding: 10px;
}

.header{
  border: 5px solid black;
  background-color: #264653;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
}

.subHeader{
  display: grid;
  grid-template-columns: 30% 70%;
  border: 5px solid white;
  background-color: #0077B6;
  border-radius: 30px;
  /* padding: 0 0 0 15px; */
  max-width: 1250px;
  max-height: 70px;
  margin: auto;
  overflow: hidden;
}

.left{
  max-height: 60px;
  display: grid;
  grid-template-columns: 40% 60%;
  /* place-items: center; */
  /* border: 5px solid rgb(0, 0, 0); */
}

.image_container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  max-height: 60px;
  background-color: gray;
  /* border: 5px solid rgb(0, 0, 0); */
}

.image_container > img{
  width: 100%;
  height: auto;
}

.text_container{
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  font-family: var(--FONT_FAMILY_COOKIE);
  font-size: 44px;
  background-color: gray;
  /* border: 5px solid rgb(0, 0, 0); */
}


.right{
  display: grid;
  grid-auto-columns: 1fr; /* Equal-width columns */
  grid-auto-flow: column; /* Arrange items in columns */
  place-content: center;
  text-align: center;
  background-color: red;
  font-family: var(--FONT_FAMILY_POPPINS);
  font-size: 18px;
  max-height: 60px;
  /* border: 5px solid rgb(255, 0, 212); */
}

.right > li{
  border-right: 1px solid rgb(0, 0, 0);
  padding: 1.093rem;
  background-color: red;
  transition: all 0.4s ease-in;
}

 li:hover{
  background-color: black;
}

li:last-child{
  border: none;
}

